{% extends 'parents/base.html.twig' %}
{% block javascripts %}

{% endblock %}
{% block title %} Futsal FM - Usuario{% endblock %}
{% block content %}


<div class="m-4 p-2 text-center jumbotron jumbotron-fluid rounded">
  <div class="pl-3">
    <h2 class="display-5">{% block section %}{% endblock %}</h2>
  </div>
</div>

{% endblock %}